include ../mixins/flash
if messages.error
    +flash({
        type:'error',
        text:messages.error
    })
if messages.info
    +flash({
            type:'info',
            text:messages.info
        })
if messages.success
    +flash({
        type:'success',
        text:messages.success
    })